<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolzapp</title>
</head>

<body>
    <div id="root" class="flex-alig-cen">
        <!-- Corpo principale applicazione -->
        <div id="application">
            <!-- Sezione sinistra -->
            <section id="left-section">
                <div id="main-user-bar">
                    <div id="info-main-user" class="flex-alig-cen">
                        <img src="img/avatar_io.jpg" alt="user image" />
                        <span class="top-name">Gianni Bertolini</span>
                    </div>
                    <div class="option flex-alig-cen">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div id="notification-bar" class="flex-alig-cen">
                    <div id="bell-image">
                        <i class="fas fa-bell-slash absolute-center"></i>
                    </div>
                    <span>
							Ricevi notifiche di nuovi messaggi <br />
							<span id="activate-notify"
								>Attiva notifiche desktop ></span
							>
						</span>
                </div>
                <div id="search-input">
                    <div id="input-bar">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" />
                    </div>
                </div>
                <div id="contacts">
                    <div class="box-preview" v-for="contact, index in contacts" :class="selectedContact == index ? 'active':''" @click="setSelectedContact(index)">
                        <div class="box-preview-image h-100">
                            <img :src="getContactImage(index)" :alt="contact.name" class="h-100" />
                        </div>
                        <div class="box-preview-text">
                            <h2>{{contact.name}}</h2>
                            <span class="preview-text">{{getLastMessage(index)}}</span
								>
							</div>
							<div class="box-preview-time">
								<span class="date"
									>{{getLastMessageDate(index)}}</span
								>
							</div>
						</div>
					</div>
				</section>
				<!-- /Sezione sinistra -->
				<!-- Serzione destra -->
				<section id="right-section">
					<div id="chat-top-bar">
						<div id="info-chat-contact" class="flex-alig-cen">
							<img
								:src="getActiveContactImage()"
								alt="Avatar 1"
							/>
							<div class="contact-last-access">
								<div class="top-name">
									{{contacts[selectedContact].name}}
								</div>
								<span>{{lastAccessCompiler()}}</span>
                        </div>
                    </div>
                    <div class="option flex-alig-cen">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- Corpo principale chat -->
                <div id="main-chat">
                    <div id="scroll-bottom"></div>
                    <div v-for="message, index in contacts[selectedContact].messages" class="message" :class="message.status == 'sent' ? 'message-send':'message-received'">
                        <span>{{message.text}}</span>
                        <span class="message-time">{{message.date}}</span>
                    </div>
                </div>
                <!-- /Corpo principale chat -->
                <!-- Barra invio messaggio -->
                <div id="message-input">
                    <div id="emoticon">
                        <i class="far fa-smile absolute-center"></i>
                    </div>
                    <input id="input-message" type="text" placeholder="Scrivi un messaggio" v-model="outgoingMessage" @keyup.enter="messageSend()" />
                    <div id="microphone">
                        <i class="fas fa-microphone absolute-center"></i>
                    </div>
                </div>
                <!-- /Barra invio messaggio -->
            </section>
            <!-- /Serzione destra -->
        </div>
        <!-- /Corpo principale applicazione -->
    </div>

    <script src="js/script.js" type="text/javascript"></script>
</body>

</html>